/* font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&family=Roboto+Mono:wght@700&family=Roboto+Slab:wght@400;500&display=swap");

/* variables */
:root {
  /* bg-colors */
  --background: #02050e;
  --primary: #1e50ff;
  --secondary: #272d37;
  --btn-bg: #050d26;
  --bg-azul-10: #e9eeff;
  --bg-white: #fff;
  --bg-electric: #f0fbff;
  --nav-bg: #0f1525;

  /* Text colors */
  --text-gray: #adb8c7;
  --text-white: #f3f4f6;

  /* Decoration */
  --fire: #ff6d00;
  --electric: #64d3ff;

  /* Fonts */
  --font-poppins: "Poppins";
  --font-light: 300;
  --font-regular: 400;
  --font-semibold: 600;
  --font-bold: 700;
  --font-black: 800;

  --font-sm: 14px;
  --font-xl: 48px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: var(--font-poppins);
}

body {
  background: var(--background);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary);
  padding: 0 25px;
  position: fixed;
  width: 100%;
  height: 65px;
}

.logo {
  height: 40%;
}

.navbar,
.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  gap: 10rem;
}

.nav-list {
  gap: 30px;

}


.nav-list a {
  color: var(--text-gray);
  font-size: var(--font-sm);
}

.active a {
  color: var(--text-white);
  font-weight: var(--font-semibold);
}

.cart-icon {
  height: 20px;
  cursor: pointer;
}

/* MAIN */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Hero */

#hero {
  margin-top: 65px;
  padding: 70px 0;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-white);
}

/* hero info */

.hero-info {

  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  align-items: flex-start;
}

.hero-info h1 {
  font-size: var(--font-xl);
  font-weight: var(--font-black);
}

.hero-info p {
  font-size: var(--font-sm);
  width: 70%;
  color: var(--text-gray);
}

.hero-info p>span {
  font-weight: var(--font-bold);
  color: var(--text-white);
}

.btn {
  color: var(--text-white);
  background-color: var(--primary);
  padding: 8px 20px;
  border-radius: 8px;
  font-size: var(--font-sm);
}

/* hero card */

.hero-card {
  background-color: var(--secondary);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
}

.hero-card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.hero-card-top h3 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: var(--font-semibold);
}

.hero-card-top span {
  background-color: var(--primary);
  padding: 3px 20px;
  border-radius: 8px;
  font-size: var(--font-sm);
}

.hero-card-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-card-creator{
  display: flex;
  align-items: center;
  gap:10px;
}

.hero-card-creator img {
  width: 60px;
}

.hero-card-creator p,
.hero-card-price span {
  font-weight: var(--font-bold);
  font-size: var(--font-sm);
}

.hero-card-creator span,
.hero-card-price p  {
  color: var(--text-gray);
  font-size: var(--font-sm);
}

.hero-card-price {
  display: flex;
  flex-direction: column;
  
}